<?xml version="1.0" encoding="ISO-8859-1"?>
<Policy version="0.1" type="value" model="../../my-icub/stochastic_planner/TRGenerator/build/domain.pomdpx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="policyx.xsd">
<AlphaVector vectorLength="1" numObsValue="404" numVectors="404">
<Vector action="14" obsValue="0">6533.84 </Vector>
<Vector action="14" obsValue="1">6537.6 </Vector>
<Vector action="14" obsValue="2">6539.63 </Vector>
<Vector action="14" obsValue="3">6540.73 </Vector>
<Vector action="14" obsValue="4">6540.93 </Vector>
<Vector action="12" obsValue="5">6540.99 </Vector>
<Vector action="12" obsValue="6">6540.41 </Vector>
<Vector action="12" obsValue="7">6539.17 </Vector>
<Vector action="12" obsValue="8">6536.48 </Vector>
<Vector action="12" obsValue="9">6532.33 </Vector>
<Vector action="10" obsValue="10">6885.6 </Vector>
<Vector action="10" obsValue="11">6889.16 </Vector>
<Vector action="10" obsValue="12">6891.37 </Vector>
<Vector action="10" obsValue="13">6892.29 </Vector>
<Vector action="10" obsValue="14">6892.66 </Vector>
<Vector action="8" obsValue="15">6892.55 </Vector>
<Vector action="8" obsValue="16">6892.15 </Vector>
<Vector action="8" obsValue="17">6890.74 </Vector>
<Vector action="8" obsValue="18">6888.24 </Vector>
<Vector action="8" obsValue="19">6883.9 </Vector>
<Vector action="10" obsValue="20">6533.04 </Vector>
<Vector action="10" obsValue="21">6536.75 </Vector>
<Vector action="10" obsValue="22">6538.75 </Vector>
<Vector action="10" obsValue="23">6539.82 </Vector>
<Vector action="10" obsValue="24">6540.01 </Vector>
<Vector action="8" obsValue="25">6540.07 </Vector>
<Vector action="8" obsValue="26">6539.51 </Vector>
<Vector action="8" obsValue="27">6538.3 </Vector>
<Vector action="8" obsValue="28">6535.65 </Vector>
<Vector action="8" obsValue="29">6531.54 </Vector>
<Vector action="10" obsValue="30">6883.25 </Vector>
<Vector action="10" obsValue="31">6886.7 </Vector>
<Vector action="10" obsValue="32">6888.81 </Vector>
<Vector action="10" obsValue="33">6889.67 </Vector>
<Vector action="10" obsValue="34">6890.02 </Vector>
<Vector action="8" obsValue="35">6889.91 </Vector>
<Vector action="8" obsValue="36">6889.55 </Vector>
<Vector action="8" obsValue="37">6888.2 </Vector>
<Vector action="8" obsValue="38">6885.81 </Vector>
<Vector action="8" obsValue="39">6881.59 </Vector>
<Vector action="14" obsValue="40">7271.77 </Vector>
<Vector action="14" obsValue="41">7276.07 </Vector>
<Vector action="14" obsValue="42">7278.42 </Vector>
<Vector action="14" obsValue="43">7279.67 </Vector>
<Vector action="14" obsValue="44">7279.91 </Vector>
<Vector action="12" obsValue="45">7279.97 </Vector>
<Vector action="12" obsValue="46">7279.32 </Vector>
<Vector action="12" obsValue="47">7277.88 </Vector>
<Vector action="12" obsValue="48">7274.81 </Vector>
<Vector action="12" obsValue="49">7270.01 </Vector>
<Vector action="10" obsValue="50">6901.45 </Vector>
<Vector action="10" obsValue="51">6905.55 </Vector>
<Vector action="10" obsValue="52">6908.09 </Vector>
<Vector action="10" obsValue="53">6909.14 </Vector>
<Vector action="10" obsValue="54">6909.56 </Vector>
<Vector action="8" obsValue="55">6909.43 </Vector>
<Vector action="8" obsValue="56">6908.98 </Vector>
<Vector action="8" obsValue="57">6907.35 </Vector>
<Vector action="8" obsValue="58">6904.49 </Vector>
<Vector action="8" obsValue="59">6899.49 </Vector>
<Vector action="10" obsValue="60">7270.88 </Vector>
<Vector action="10" obsValue="61">7275.12 </Vector>
<Vector action="10" obsValue="62">7277.43 </Vector>
<Vector action="10" obsValue="63">7278.63 </Vector>
<Vector action="10" obsValue="64">7278.86 </Vector>
<Vector action="8" obsValue="65">7278.92 </Vector>
<Vector action="8" obsValue="66">7278.3 </Vector>
<Vector action="8" obsValue="67">7276.9 </Vector>
<Vector action="8" obsValue="68">7273.88 </Vector>
<Vector action="8" obsValue="69">7269.14 </Vector>
<Vector action="10" obsValue="70">6898.84 </Vector>
<Vector action="10" obsValue="71">6902.77 </Vector>
<Vector action="10" obsValue="72">6905.18 </Vector>
<Vector action="10" obsValue="73">6906.14 </Vector>
<Vector action="10" obsValue="74">6906.54 </Vector>
<Vector action="8" obsValue="75">6906.41 </Vector>
<Vector action="8" obsValue="76">6906.01 </Vector>
<Vector action="8" obsValue="77">6904.48 </Vector>
<Vector action="8" obsValue="78">6901.77 </Vector>
<Vector action="8" obsValue="79">6896.94 </Vector>
<Vector action="14" obsValue="80">7285.03 </Vector>
<Vector action="14" obsValue="81">7290.07 </Vector>
<Vector action="14" obsValue="82">7292.84 </Vector>
<Vector action="14" obsValue="83">7294.3 </Vector>
<Vector action="14" obsValue="84">7294.58 </Vector>
<Vector action="12" obsValue="85">7294.64 </Vector>
<Vector action="12" obsValue="86">7293.89 </Vector>
<Vector action="12" obsValue="87">7292.21 </Vector>
<Vector action="12" obsValue="88">7288.6 </Vector>
<Vector action="12" obsValue="89">7282.98 </Vector>
<Vector action="10" obsValue="90">7674.77 </Vector>
<Vector action="10" obsValue="91">7679.61 </Vector>
<Vector action="10" obsValue="92">7682.56 </Vector>
<Vector action="10" obsValue="93">7683.81 </Vector>
<Vector action="10" obsValue="94">7684.29 </Vector>
<Vector action="8" obsValue="95">7684.15 </Vector>
<Vector action="8" obsValue="96">7683.61 </Vector>
<Vector action="8" obsValue="97">7681.73 </Vector>
<Vector action="8" obsValue="98">7678.35 </Vector>
<Vector action="8" obsValue="99">7672.48 </Vector>
<Vector action="10" obsValue="100">7284.04 </Vector>
<Vector action="10" obsValue="101">7289.01 </Vector>
<Vector action="10" obsValue="102">7291.7 </Vector>
<Vector action="10" obsValue="103">7293.1 </Vector>
<Vector action="10" obsValue="104">7293.35 </Vector>
<Vector action="8" obsValue="105">7293.42 </Vector>
<Vector action="8" obsValue="106">7292.71 </Vector>
<Vector action="8" obsValue="107">7291.09 </Vector>
<Vector action="8" obsValue="108">7287.55 </Vector>
<Vector action="8" obsValue="109">7282.02 </Vector>
<Vector action="10" obsValue="110">7671.86 </Vector>
<Vector action="10" obsValue="111">7676.46 </Vector>
<Vector action="10" obsValue="112">7679.21 </Vector>
<Vector action="10" obsValue="113">7680.32 </Vector>
<Vector action="10" obsValue="114">7680.76 </Vector>
<Vector action="8" obsValue="115">7680.62 </Vector>
<Vector action="8" obsValue="116">7680.16 </Vector>
<Vector action="8" obsValue="117">7678.43 </Vector>
<Vector action="8" obsValue="118">7675.28 </Vector>
<Vector action="8" obsValue="119">7669.65 </Vector>
<Vector action="14" obsValue="120">8095.5 </Vector>
<Vector action="14" obsValue="121">8101.55 </Vector>
<Vector action="14" obsValue="122">8104.91 </Vector>
<Vector action="14" obsValue="123">8106.63 </Vector>
<Vector action="14" obsValue="124">8107 </Vector>
<Vector action="12" obsValue="125">8107.05 </Vector>
<Vector action="12" obsValue="126">8106.17 </Vector>
<Vector action="12" obsValue="127">8104.13 </Vector>
<Vector action="12" obsValue="128">8099.79 </Vector>
<Vector action="12" obsValue="129">8093.05 </Vector>
<Vector action="10" obsValue="130">7685.13 </Vector>
<Vector action="10" obsValue="131">7690.99 </Vector>
<Vector action="10" obsValue="132">7694.53 </Vector>
<Vector action="10" obsValue="133">7696.04 </Vector>
<Vector action="10" obsValue="134">7696.6 </Vector>
<Vector action="8" obsValue="135">7696.44 </Vector>
<Vector action="8" obsValue="136">7695.8 </Vector>
<Vector action="8" obsValue="137">7693.53 </Vector>
<Vector action="8" obsValue="138">7689.49 </Vector>
<Vector action="8" obsValue="139">7682.36 </Vector>
<Vector action="10" obsValue="140">8094.4 </Vector>
<Vector action="10" obsValue="141">8100.33 </Vector>
<Vector action="10" obsValue="142">8103.58 </Vector>
<Vector action="10" obsValue="143">8105.21 </Vector>
<Vector action="10" obsValue="144">8105.53 </Vector>
<Vector action="8" obsValue="145">8105.59 </Vector>
<Vector action="8" obsValue="146">8104.78 </Vector>
<Vector action="8" obsValue="147">8102.84 </Vector>
<Vector action="8" obsValue="148">8098.61 </Vector>
<Vector action="8" obsValue="149">8091.99 </Vector>
<Vector action="10" obsValue="150">7681.86 </Vector>
<Vector action="10" obsValue="151">7687.37 </Vector>
<Vector action="10" obsValue="152">7690.59 </Vector>
<Vector action="10" obsValue="153">7691.87 </Vector>
<Vector action="10" obsValue="154">7692.38 </Vector>
<Vector action="8" obsValue="155">7692.22 </Vector>
<Vector action="8" obsValue="156">7691.69 </Vector>
<Vector action="8" obsValue="157">7689.69 </Vector>
<Vector action="8" obsValue="158">7685.99 </Vector>
<Vector action="8" obsValue="159">7679.21 </Vector>
<Vector action="14" obsValue="160">8102.67 </Vector>
<Vector action="14" obsValue="161">8110.07 </Vector>
<Vector action="14" obsValue="162">8114.28 </Vector>
<Vector action="14" obsValue="163">8116.42 </Vector>
<Vector action="14" obsValue="164">8116.88 </Vector>
<Vector action="12" obsValue="165">8116.94 </Vector>
<Vector action="12" obsValue="166">8115.85 </Vector>
<Vector action="12" obsValue="167">8113.32 </Vector>
<Vector action="12" obsValue="168">8107.87 </Vector>
<Vector action="12" obsValue="169">8099.79 </Vector>
<Vector action="10" obsValue="170">7692.77 </Vector>
<Vector action="10" obsValue="171">8541.7 </Vector>
<Vector action="10" obsValue="172">8546.07 </Vector>
<Vector action="10" obsValue="173">8547.97 </Vector>
<Vector action="10" obsValue="174">8548.64 </Vector>
<Vector action="8" obsValue="175">8548.47 </Vector>
<Vector action="8" obsValue="176">8547.65 </Vector>
<Vector action="8" obsValue="177">8544.85 </Vector>
<Vector action="8" obsValue="178">8539.85 </Vector>
<Vector action="8" obsValue="179">7689.49 </Vector>
<Vector action="10" obsValue="180">8101.44 </Vector>
<Vector action="10" obsValue="181">8108.68 </Vector>
<Vector action="10" obsValue="182">8112.71 </Vector>
<Vector action="10" obsValue="183">8114.7 </Vector>
<Vector action="10" obsValue="184">8115.07 </Vector>
<Vector action="8" obsValue="185">8115.15 </Vector>
<Vector action="8" obsValue="186">8114.17 </Vector>
<Vector action="8" obsValue="187">8111.81 </Vector>
<Vector action="8" obsValue="188">8106.54 </Vector>
<Vector action="8" obsValue="189">8098.61 </Vector>
<Vector action="10" obsValue="190">7689.12 </Vector>
<Vector action="10" obsValue="191">8537.52 </Vector>
<Vector action="10" obsValue="192">8541.35 </Vector>
<Vector action="10" obsValue="193">8542.85 </Vector>
<Vector action="10" obsValue="194">8543.43 </Vector>
<Vector action="8" obsValue="195">8543.25 </Vector>
<Vector action="8" obsValue="196">8542.63 </Vector>
<Vector action="8" obsValue="197">8540.3 </Vector>
<Vector action="8" obsValue="198">8535.85 </Vector>
<Vector action="8" obsValue="199">7685.99 </Vector>
<Vector action="14" obsValue="200">8107.33 </Vector>
<Vector action="14" obsValue="201">8115.98 </Vector>
<Vector action="14" obsValue="202">9007.37 </Vector>
<Vector action="14" obsValue="203">9010.1 </Vector>
<Vector action="14" obsValue="204">9010.76 </Vector>
<Vector action="12" obsValue="205">9010.8 </Vector>
<Vector action="12" obsValue="206">9009.39 </Vector>
<Vector action="12" obsValue="207">9006.13 </Vector>
<Vector action="12" obsValue="208">8113.32 </Vector>
<Vector action="12" obsValue="209">8104.13 </Vector>
<Vector action="10" obsValue="210">7697.12 </Vector>
<Vector action="10" obsValue="211">8547.06 </Vector>
<Vector action="10" obsValue="212">8552.58 </Vector>
<Vector action="10" obsValue="213">8555.09 </Vector>
<Vector action="10" obsValue="214">8555.94 </Vector>
<Vector action="8" obsValue="215">8555.73 </Vector>
<Vector action="8" obsValue="216">8554.67 </Vector>
<Vector action="8" obsValue="217">8550.99 </Vector>
<Vector action="8" obsValue="218">8544.85 </Vector>
<Vector action="8" obsValue="219">7693.53 </Vector>
<Vector action="10" obsValue="220">8105.98 </Vector>
<Vector action="10" obsValue="221">8114.39 </Vector>
<Vector action="10" obsValue="222">9005.5 </Vector>
<Vector action="10" obsValue="223">9007.94 </Vector>
<Vector action="10" obsValue="224">9008.42 </Vector>
<Vector action="8" obsValue="225">9008.5 </Vector>
<Vector action="8" obsValue="226">9007.32 </Vector>
<Vector action="8" obsValue="227">9004.35 </Vector>
<Vector action="8" obsValue="228">8111.81 </Vector>
<Vector action="8" obsValue="229">8102.84 </Vector>
<Vector action="10" obsValue="230">7693.07 </Vector>
<Vector action="10" obsValue="231">8542.25 </Vector>
<Vector action="10" obsValue="232">8546.84 </Vector>
<Vector action="10" obsValue="233">8548.55 </Vector>
<Vector action="10" obsValue="234">8549.27 </Vector>
<Vector action="8" obsValue="235">8549.02 </Vector>
<Vector action="8" obsValue="236">8548.35 </Vector>
<Vector action="8" obsValue="237">8545.57 </Vector>
<Vector action="8" obsValue="238">8540.3 </Vector>
<Vector action="8" obsValue="239">7689.69 </Vector>
<Vector action="14" obsValue="240">8109.51 </Vector>
<Vector action="14" obsValue="241">8118.74 </Vector>
<Vector action="14" obsValue="242">9010.92 </Vector>
<Vector action="14" obsValue="243">9014.53 </Vector>
<Vector action="14" obsValue="244">9015.51 </Vector>
<Vector action="12" obsValue="245">9015.55 </Vector>
<Vector action="12" obsValue="246">9013.55 </Vector>
<Vector action="12" obsValue="247">9009.39 </Vector>
<Vector action="12" obsValue="248">8115.85 </Vector>
<Vector action="12" obsValue="249">8106.17 </Vector>
<Vector action="10" obsValue="250">7699.52 </Vector>
<Vector action="10" obsValue="251">8550.12 </Vector>
<Vector action="10" obsValue="252">8556.63 </Vector>
<Vector action="11" obsValue="253">9492.65 </Vector>
<Vector action="11" obsValue="254">9493.75 </Vector>
<Vector action="9" obsValue="255">9493.52 </Vector>
<Vector action="9" obsValue="256">9492.06 </Vector>
<Vector action="8" obsValue="257">8554.67 </Vector>
<Vector action="8" obsValue="258">8547.65 </Vector>
<Vector action="8" obsValue="259">7695.8 </Vector>
<Vector action="10" obsValue="260">8108.04 </Vector>
<Vector action="10" obsValue="261">8116.95 </Vector>
<Vector action="10" obsValue="262">9008.69 </Vector>
<Vector action="10" obsValue="263">9011.76 </Vector>
<Vector action="10" obsValue="264">9012.3 </Vector>
<Vector action="8" obsValue="265">9012.44 </Vector>
<Vector action="8" obsValue="266">9010.96 </Vector>
<Vector action="8" obsValue="267">9007.32 </Vector>
<Vector action="8" obsValue="268">8114.17 </Vector>
<Vector action="8" obsValue="269">8104.78 </Vector>
<Vector action="10" obsValue="270">7695.15 </Vector>
<Vector action="10" obsValue="271">8544.72 </Vector>
<Vector action="10" obsValue="272">8549.77 </Vector>
<Vector action="10" obsValue="273">8551.74 </Vector>
<Vector action="10" obsValue="274">8552.54 </Vector>
<Vector action="8" obsValue="275">8552.27 </Vector>
<Vector action="8" obsValue="276">8551.49 </Vector>
<Vector action="8" obsValue="277">8548.35 </Vector>
<Vector action="8" obsValue="278">8542.63 </Vector>
<Vector action="8" obsValue="279">7691.69 </Vector>
<Vector action="14" obsValue="280">8110.46 </Vector>
<Vector action="14" obsValue="281">8119.91 </Vector>
<Vector action="14" obsValue="282">9012.49 </Vector>
<Vector action="14" obsValue="283">9016.8 </Vector>
<Vector action="14" obsValue="284">9070.97 </Vector>
<Vector action="0" obsValue="285">10000 </Vector>
<Vector action="12" obsValue="286">9071.32 </Vector>
<Vector action="0" obsValue="287">10000 </Vector>
<Vector action="12" obsValue="288">9015.55 </Vector>
<Vector action="12" obsValue="289">9010.8 </Vector>
<Vector action="12" obsValue="290">8116.94 </Vector>
<Vector action="12" obsValue="291">8107.05 </Vector>
<Vector action="10" obsValue="292">7700.24 </Vector>
<Vector action="10" obsValue="293">8551 </Vector>
<Vector action="10" obsValue="294">8557.83 </Vector>
<Vector action="11" obsValue="295">9494.25 </Vector>
<Vector action="11" obsValue="296">9495.75 </Vector>
<Vector action="9" obsValue="297">9495.41 </Vector>
<Vector action="9" obsValue="298">9493.52 </Vector>
<Vector action="8" obsValue="299">8555.73 </Vector>
<Vector action="8" obsValue="300">8548.47 </Vector>
<Vector action="8" obsValue="301">7696.44 </Vector>
<Vector action="10" obsValue="302">8108.91 </Vector>
<Vector action="10" obsValue="303">8117.97 </Vector>
<Vector action="10" obsValue="304">9009.96 </Vector>
<Vector action="10" obsValue="305">9013.34 </Vector>
<Vector action="10" obsValue="306">9013.99 </Vector>
<Vector action="8" obsValue="307">9014.13 </Vector>
<Vector action="8" obsValue="308">9012.44 </Vector>
<Vector action="8" obsValue="309">9008.5 </Vector>
<Vector action="8" obsValue="310">8115.15 </Vector>
<Vector action="8" obsValue="311">8105.59 </Vector>
<Vector action="10" obsValue="312">7695.73 </Vector>
<Vector action="10" obsValue="313">8545.35 </Vector>
<Vector action="10" obsValue="314">8550.46 </Vector>
<Vector action="10" obsValue="315">8552.59 </Vector>
<Vector action="10" obsValue="316">8553.42 </Vector>
<Vector action="8" obsValue="317">8553.17 </Vector>
<Vector action="8" obsValue="318">8552.27 </Vector>
<Vector action="8" obsValue="319">8549.02 </Vector>
<Vector action="8" obsValue="320">8543.25 </Vector>
<Vector action="8" obsValue="321">7692.22 </Vector>
<Vector action="6" obsValue="322">8110.4 </Vector>
<Vector action="6" obsValue="323">8119.87 </Vector>
<Vector action="6" obsValue="324">9012.44 </Vector>
<Vector action="6" obsValue="325">9016.8 </Vector>
<Vector action="6" obsValue="326">9070.64 </Vector>
<Vector action="0" obsValue="327">10000 </Vector>
<Vector action="4" obsValue="328">9070.97 </Vector>
<Vector action="0" obsValue="329">10000 </Vector>
<Vector action="4" obsValue="330">9015.51 </Vector>
<Vector action="4" obsValue="331">9010.76 </Vector>
<Vector action="4" obsValue="332">8116.88 </Vector>
<Vector action="4" obsValue="333">8107 </Vector>
<Vector action="2" obsValue="334">7700.38 </Vector>
<Vector action="2" obsValue="335">8551.19 </Vector>
<Vector action="2" obsValue="336">8558.02 </Vector>
<Vector action="3" obsValue="337">9494.52 </Vector>
<Vector action="3" obsValue="338">9496.12 </Vector>
<Vector action="1" obsValue="339">9495.75 </Vector>
<Vector action="1" obsValue="340">9493.75 </Vector>
<Vector action="0" obsValue="341">8555.94 </Vector>
<Vector action="0" obsValue="342">8548.64 </Vector>
<Vector action="0" obsValue="343">7696.6 </Vector>
<Vector action="2" obsValue="344">8108.83 </Vector>
<Vector action="2" obsValue="345">8117.91 </Vector>
<Vector action="2" obsValue="346">9009.86 </Vector>
<Vector action="2" obsValue="347">9013.18 </Vector>
<Vector action="2" obsValue="348">9013.88 </Vector>
<Vector action="0" obsValue="349">9013.99 </Vector>
<Vector action="0" obsValue="350">9012.3 </Vector>
<Vector action="0" obsValue="351">9008.42 </Vector>
<Vector action="0" obsValue="352">8115.07 </Vector>
<Vector action="0" obsValue="353">8105.53 </Vector>
<Vector action="2" obsValue="354">7695.87 </Vector>
<Vector action="2" obsValue="355">8545.56 </Vector>
<Vector action="2" obsValue="356">8550.74 </Vector>
<Vector action="2" obsValue="357">8552.83 </Vector>
<Vector action="2" obsValue="358">8553.71 </Vector>
<Vector action="0" obsValue="359">8553.42 </Vector>
<Vector action="0" obsValue="360">8552.54 </Vector>
<Vector action="0" obsValue="361">8549.27 </Vector>
<Vector action="0" obsValue="362">8543.43 </Vector>
<Vector action="0" obsValue="363">7692.38 </Vector>
<Vector action="6" obsValue="364">8110.01 </Vector>
<Vector action="6" obsValue="365">8119.33 </Vector>
<Vector action="6" obsValue="366">9011.71 </Vector>
<Vector action="6" obsValue="367">9015.63 </Vector>
<Vector action="6" obsValue="368">9016.8 </Vector>
<Vector action="4" obsValue="369">9016.8 </Vector>
<Vector action="4" obsValue="370">9014.53 </Vector>
<Vector action="4" obsValue="371">9010.1 </Vector>
<Vector action="4" obsValue="372">8116.42 </Vector>
<Vector action="4" obsValue="373">8106.63 </Vector>
<Vector action="2" obsValue="374">7699.81 </Vector>
<Vector action="2" obsValue="375">8550.46 </Vector>
<Vector action="2" obsValue="376">8557.12 </Vector>
<Vector action="3" obsValue="377">9493.29 </Vector>
<Vector action="3" obsValue="378">9494.52 </Vector>
<Vector action="1" obsValue="379">9494.25 </Vector>
<Vector action="1" obsValue="380">9492.65 </Vector>
<Vector action="0" obsValue="381">8555.09 </Vector>
<Vector action="0" obsValue="382">8547.97 </Vector>
<Vector action="0" obsValue="383">7696.04 </Vector>
<Vector action="2" obsValue="384">8108.5 </Vector>
<Vector action="2" obsValue="385">8117.49 </Vector>
<Vector action="2" obsValue="386">9009.37 </Vector>
<Vector action="2" obsValue="387">9012.62 </Vector>
<Vector action="2" obsValue="388">9013.18 </Vector>
<Vector action="0" obsValue="389">9013.34 </Vector>
<Vector action="0" obsValue="390">9011.76 </Vector>
<Vector action="0" obsValue="391">9007.94 </Vector>
<Vector action="0" obsValue="392">8114.7 </Vector>
<Vector action="0" obsValue="393">8105.21 </Vector>
<Vector action="2" obsValue="394">7695.36 </Vector>
<Vector action="2" obsValue="395">8544.93 </Vector>
<Vector action="2" obsValue="396">8549.97 </Vector>
<Vector action="2" obsValue="397">8552.04 </Vector>
<Vector action="2" obsValue="398">8552.83 </Vector>
<Vector action="0" obsValue="399">8552.59 </Vector>
<Vector action="0" obsValue="400">8551.74 </Vector>
<Vector action="0" obsValue="401">8548.55 </Vector>
<Vector action="0" obsValue="402">8542.85 </Vector>
<Vector action="0" obsValue="403">7691.87 </Vector>
</AlphaVector> </Policy>
